.u-section-1 {
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 60px 107px 0;
}

.u-section-1 .u-text-2 {
  font-family: Montserrat, sans-serif;
  margin: 40px 20px 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 205px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 105px;
    margin-right: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 400;
    margin-top: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-family: Roboto, sans-serif;
    margin-top: 400px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -429px;
    margin-bottom: 60px;
  }
}.u-section-2 {
  background-image: url("images/2.0.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 238px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  background-image: none;
  font-size: 4.5rem;
  font-family: Roboto, sans-serif;
  margin: -101px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 143px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -14px;
    margin-bottom: 62px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 912px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    font-family: "Akaya Kanadaka";
    font-weight: 400;
    line-height: 79.2px;
    margin-top: 94px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 51px;
    margin-left: 20px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/10844662.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
  margin: 20px 0 0 44px;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 85px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 353px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -324px;
    margin-left: 27px;
    margin-right: 27px;
  }
}.u-section-4 {
  background-image: url("images/3247707.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 718px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 238px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 912px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1rem;
  line-height: 25.6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.u-section-4 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-bottom: 109px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    line-height: 2;
    width: auto;
    font-family: "Amatic SC";
    font-weight: 700;
    margin: 43px 10px 0 25px;
  }
}.u-section-5 {
  background-image: url("images/d.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 557px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 304px;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 32px 0 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(253, 48, 24) !important;
}

.u-section-5 .u-shape-1 {
  width: 250px;
  height: 78px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 9.52% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-5 .u-group-1 {
    min-height: 285px;
    width: 381px;
    margin-top: 10px;
    margin-left: -41px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 1px;
    margin-left: 49px;
  }

  .u-section-5 .u-shape-1 {
    width: 75px;
    height: 15px;
    margin-top: -71px;
    margin-left: 112px;
  }
}.u-section-6 {
  background-image: url("images/tumblr_pd0kmqjQ7x1t2iqmeo4_400.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 718px;
}

.u-section-6 .u-text-1 {
  margin: 79px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 1589px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-2 {
  line-height: 21.6px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 33px 0 18px;
}

.u-section-6 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 165px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 770px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 700;
    font-family: "Courier New", monospace;
    margin-top: -126px;
    margin-right: 2px;
    margin-left: 8px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 606px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-family: "Akaya Kanadaka";
  margin: 20px 0 0;
}

.u-section-7 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 500px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 747px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-image-1 {
  width: 152px;
  height: 152px;
  background-image: url("images/140-1409346_-heart-face-emoji-png.png");
  background-position: 50% 50%;
  margin: 20px 478px 0 450px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  width: 747px;
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-7 .u-image-2 {
  width: 152px;
  height: 152px;
  background-image: url("images/206fadc8-6ff6-423f-85f3-152718196a94-vpctech_facebook_desk_thumb.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  top: 224px;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    margin-top: 65px;
    min-height: 568px;
    height: auto;
  }

  .u-section-7 .u-image-1 {
    margin-left: 350px;
    margin-right: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-left: 240px;
    margin-right: 268px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-family: Montserrat, sans-serif;
    margin-top: 75px;
  }

  .u-section-7 .u-slider-1 {
    margin-top: 13px;
    min-height: 500px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 27px;
    padding-left: 34px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 61px;
    margin-right: 13px;
    margin-left: 7px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 60px;
    margin-left: 61px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 27px;
    padding-left: 40px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 29px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 30px;
    margin-left: 54px;
  }
}